<aside>
	<div class="panel radius">
		<h3>Important dates:</h3>
		<p>
            --- 2024 ---
            <span style="text-decoration: line-through;">Dec 15: Submission Deadline
            Dec 20: Acceptance Notification</span><br>
            <span style="color: #000000;">--- 2025 ---</span><br>
            <span style="color: currentcolor;"><span style="text-decoration: line-through;">Jan 16: Regular fees</span><br>
            </span><span style="color: #ff3333;"><b><br>
            Feb 3: OpenModelica Workshop<br>
            Feb 4-5: MODPROD Workshop</b></span>
		</p>
	</div>
</aside>