<aside>
	<div class="panel radius">
		<h3>Important dates:</h3>
		<p>
            --- 2024 ---<br>
            <span style="text-decoration: line-through;">Dec 15: Submission Deadline</span><br>
            <span style="text-decoration: line-through;">Dec 20: Acceptance Notification</span><br>
            --- 2025 ---<br>
            <span style="text-decoration: line-through;">Jan 16: Regular fees</span><br>
            <span style="color: #ff3333; font-weight:bold;">Feb 3: OpenModelica Workshop</span><br>
            <span style="color: #ff3333; font-weight:bold;">Feb 4-5: MODPROD Workshop</b></span>
		</p>
	</div>
</aside>