---
---

@import "minima";

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    color: #383838;
}

.site-title {
	content: url("/assets/modprod-logo.png");
	display: inline-block;
	position: relative;
	width: 37px;
	top: 5px;
}
